
@{
    ViewBag.Title = "ThanhToan";
}


<div style="height: 500px;" class="text-center mx-auto p-3">
    <h2>Thanh toán thành công</h2>
    <a href="/SanPham/" class="btn btn-light">Tiếp tục mua hàng</a>
</div>
